@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-skyish : #ecfeff;
  --text-black :  #030712;
}

body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth !important;
}
 
div {
  max-width: 100vw;
}